<h1>List of All Programs</h1>

<% @programs.each do |program| %>
  <h3><%= link_to program.title, program %></h3>
<% end %>

<%= link_to new_program_path do %>
  <button>Create a new program</button>
<% end %>